@use '../style/variables' as v;

.k-home-page {
  .k-title-page {
    font-size: v.$font-size-title-l;
    line-height: 110%;
    margin-bottom: v.$space-s;
    text-align: center;
  }

  .k-subtitle-page {
    font-size: v.$font-size-subtitle-l;
    color: v.$color-texto-secundario;
    line-height: 110%;
    text-align: center;
     margin-bottom: v.$space-sm;
  }
}