@use '../src/style/variables' as v;

//K-H ---> HEADER
.k-c {
  max-width: v.$page-width;
  padding-left: v.$space-sm;
  padding-right: v.$space-sm;
  margin: 0 auto;
}

.k-h {
  border-bottom: 1px solid v.$color-border-grey;
}

.k-h-c {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.k-nav {
  .k-nav-c {
    display: flex;
    gap: v.$space-sm;
  }

}

.k-nav-link {
  position: relative;
  // margin-right: 15px;
  font-size: v.$font-size-category-l;
}

.k-cat-c {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid v.$color-border-grey;
  margin-bottom: v.$space-l;
}

.notification-dot {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  background-color: #e74c3c; /* Rojo brillante */
  border-radius: 50%;
  border: 2px solid white;
}
